<header>
    <nav>
        <a href="/">Nodebrary</a>
        <ul>
            <li>
                <a href="/authors">authors</a>
            </li>
            <li>
                <a href="/authors/new">NewAuthor</a>
            </li>
            <li>
                <a href="/authors">authors</a>
            </li>
        </ul>
    </nav>
</header>
